@font-face {
    font-family: 'Roboto Slab';
    src: url('../fonts/RobotoSlab-Bold.eot');
    src: url('../fonts/RobotoSlab-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/RobotoSlab-Bold.woff2') format('woff2'),
        url('../fonts/RobotoSlab-Bold.woff') format('woff'),
        url('../fonts/RobotoSlab-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

* {
    margin: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    cursor: url(../cursor.cur), auto;
}

sup {
    font-size: 0.8rem;
}

.wrapper {
    margin: 0 auto;
    max-width: 90%;
    padding: 15px;
}

.block {
    margin: 0 auto;
    margin-top: 20px;
    min-width: 219px;
    vertical-align: middle;
    box-sizing: border-box;
}

.footer_menu .block,
.contacts .block {
    margin: 0 auto;
}

.block_wrapper {
    font-size: 0;
}

input,
textarea {
    outline: none;
}

header {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.aside {
    width: 100%;
}

.sticky {
    position: sticky;
    top: 40px;
}

.aside .block {
    width: 100%;
    margin: 0;
}

.main_menu {
    padding: 23px 0 19px;
    background-color: #1f1f56;
}

.main_menu ul {
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: nowrap;
}

.main_menu li {
    display: inline-block;
}

.main_menu a {
    color: #b1b1d2;
    font-size: 1.2rem;
    text-decoration: none;
}

.social_menu a {
    display: block;
    background-image: url(../img/sp_sprite.png);
}

a.fb {
    height: 19px;
    width: 10px;
    background-position: 0 0;
}

a.tw {
    height: 15px;
    width: 18px;
    background-position: -12px 0;
}

a.inst {
    height: 19px;
    width: 19px;
    background-position: -32px 0;
}

a.fb:hover {
    background-position: 0 -20px;
}

a.tw:hover {
    background-position: -12px -20px;
}

a.inst:hover {
    background-position: -32px -20px;
}

.hamburgerrealetive {
    display: flex;
    justify-content: space-between;
    position: relative;
    height: 20px;
}

.hamburger {
    position: relative;
    padding: 10px 0;
    width: 50px;
    height: 20px;
    cursor: pointer;
}

.hamburger span,
.hamburger span:before,
.hamburger span:after {
    content: "";
    position: absolute;
    width: 40px;
    height: 7px;
    background-color: #fff;
    border-radius: 5px;
    top: 15%;
    transition: box-shadow .25s ease-in-out;
}

.hamburger span {
    transform: translateY(-50%);
}

.hamburger span:before {
    top: 15px;
}

.hamburger span:after {
    top: -15px;
}

.hamburger-open span,
.hamburger-open span:before,
.hamburger-open span:after {
    background-color: #fff;
}

.hamburger-open span {
    animation: fade .1s linear .6s forwards;
    box-shadow: 0 0 5px 2px rgba(0, 255, 0, 0.7);
}

.hamburger-open span:before {
    animation: left .5s ease-in forwards;
    box-shadow: 0 0 5px 2px rgba(255, 0, 0, 0.7);
}

.hamburger-open span:after {
    animation: right .7s ease-in forwards;
    box-shadow: 0 0 5px 2px rgba(0, 0, 255, 0.7);
}

@keyframes right {
    0% {
        top: -15px;
        left: 0;
    }

    30% {
        top: -15px;
        left: 75px;
    }

    70% {
        top: -50px;
        left: 75px;
        transform: rotate(-225deg);
    }

    100% {
        top: 0;
        left: 0;
        transform: rotate(-225deg);
    }
}

@keyframes left {
    0% {
        top: 15px;
        left: 0;
    }

    30% {
        top: 15px;
        left: -75px;
    }

    70% {
        top: -50px;
        left: -75px;
        transform: rotate(225deg);
    }

    100% {
        top: 0;
        left: 0;
        transform: rotate(225deg);
    }
}

@keyframes fade {
    from {
        background-color: #777;
    }

    to {
        background-color: transparent;
        box-shadow: none;
    }
}

.top_menu ul {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.top_menu {
    display: none;
    position: absolute;
    z-index: 2;
    left: 80px;
    top: 0;
    margin: 0;
    padding: 20px 40px;
    list-style: none;
    background-color: #1f1f56;
}

.top_menu a {
    text-align: left;
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    color: #b1b1d2;
    margin-right: 23px;
}

.top_menu a:hover {
    color: #fd8300;
}

.active-burger {
    display: block;
}


.social_menu a {
    display: inline-block;
    margin-left: 23px;
}

.contacts {
    padding: 30px 0;
}

.cont-flex{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    column-gap: 20px;
    row-gap: 30px;
}

.telephones p:first-child,
.social_netvork p:first-child {
    margin-bottom: 8px;
}

.telephones a {
    color: #25252c;
    font-size: 1.2rem;
    font-weight: bold;
    line-height: 24px;
    text-decoration: none;
}

.telephones a:hover {
    text-decoration: underline;
}

.tel,
.mail,
.skype {
    position: relative;
}

.tel::before,
.mail::before,
.skype::before {
    content: "";
    position: absolute;
    left: -27px;
    top: 2px;
    background-image: url(../img/sp_sprite.png);
}

.tel::before {
    height: 17px;
    width: 16px;
    background-position: -72px -20px;
}

.mail::before {
    height: 13px;
    width: 17px;
    background-position: -53px -20px;
}

.skype::before {
    height: 19px;
    width: 18px;
    background-position: -53px 0;
}

.social_netvork,
.telephones {
    padding-left: 35px;
}

.social_netvork a {
    color: #25252c;
    font-size: 1.2rem;
    line-height: 24px;
    text-decoration: none;
}

.social_netvork a:hover {
    text-decoration: underline;
}

.order_a_call a {
    display: inline-block;
    padding: 15px 30px;
    color: #25252c;
    font-size: 1rem;
    font-weight: bold;
    text-decoration: none;
    border-radius: 25px;
    border: 2px solid #fd8300;
}

.order_a_call a:hover {
    color: #fff;
    background-color: #fd8300;
}

.on_photo {
    padding: 60px 0 45px;
    text-align: center;
    font-weight: 700;
    font-family: "Roboto Slab";
    background: #100808 url(../img/main_photo.jpg);
    background-size: cover;
}

.on_photo_title {
    color: #fff;
    font: 700 30px "Roboto Slab";
    letter-spacing: 2px;
    text-transform: uppercase;
}

.on_photo_text {
    color: #fff;
    font: normal 14px "Arial";
    line-height: 24px;
}

.on_photo_text:hover,
.on_photo_title:hover {
    color: #fd8300;
}

.on_photo_price {
    color: #fd8300;
    font: bold 24px "Arial";
}

.on_photo_price span {
    font-size: 2.5rem;
}

.on_photo_price:hover {
    color: #fff;
}

main div {
    display: inline-block;
}

.contacts_main {
    max-width: 100%;
}

.contacts_main h1 {
    margin: 0 0 30px 0;
    color: #24242b;
    font: 700 2rem "Roboto Slab";
}

.contacts_block {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    column-gap: 20px;
    row-gap: 30px;
    margin-bottom: 35px;
    border-bottom: 1px solid #e4e4ec;
}

.contacts_block>div:nth-child(3) {
    margin: 0;
}

.contacts_block h1 {
    margin: 30px 0 15px 0;
    font-size: 1.2rem;
    color: #24242b;
    font-family: serif, "Roboto Slab";
}

.contacts_block h2 {
    font-size: 1.2em;
    line-height: 24px;
    color: #24242b;
    font-family: "Roboto Slab";
    margin-bottom: 20px;
}

.office p {
    margin: 10px 0;
}

.office a {
    font-size: 1.3rem;
    line-height: 24px;
    color: #25252c;
    font-weight: bold;
    font-family: "Arial";
    text-decoration: none;
}

p .email {
    font-weight: 100;
    font-size: 1.2rem;
    text-decoration: underline;
}

.office a:nth-child(2):hover,
.office a:nth-child(3):hover,
.office a:last-child:hover,
.advice a:nth-child(2):hover,
.advice a:last-child:hover {
    text-decoration: underline;
}

.place {
    font-size: 1.2rem;
    line-height: 21px;
    color: #666;
    font-family: "Arial";
}

.advice p {
    margin-bottom: 8px;
}

.advice a:nth-child(2),
.advice a:last-child {
    font-size: 1.2rem;
    line-height: 24px;
    color: #25252c;
    font-weight: bold;
    font-family: "Arial";
    text-decoration: none;
}

.menenger,
.bos {
    font-size: 14px;
    line-height: 21px;
    color: #666;
    font-family: "Arial";
}

.details p {
    margin-bottom: 20px;
    font-size: 1.2rem;
    line-height: 21px;
    color: #666666;
    font-family: "Arial";
}

.form_map {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    column-gap: 20px;
    row-gap: 30px;
}

.map {
    width: 100%;
    /* max-width: 49%; */
}

form.fifty_p {
    width: 100%;
}

.map iframe {
    width: 100%;
    min-height: 300px;
    border: none;
}

.form h2 {
    margin-bottom: 15px;
    font-size: 1.2rem;
    line-height: 24px;
    color: #24242b;
    font-family: "Roboto Slab";
}

.form input::-webkit-input-placeholder,
.form textarea::-webkit-input-placeholder {
    font-size: 1.2rem;
    line-height: 21px;
    color: #9999a6;
    font-style: italic;
    font-family: "Arial";
}

.your_information {
    display: flex;
}

.your_information label {
    width: 100%;
}

.your_information label:first-child {
    margin-right: 10px;
}

.form_in {
    margin: 5px 0 5px;
    padding: 15px;
    width: 100%;
    border: 1px solid #c5c5d4;
    border-radius: 3px;
    box-sizing: border-box;
}

.form textarea {
    resize: vertical;
    min-height: 130px;
    max-height: 300px;
}

.check-gap {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    column-gap: 20px;   
}

.checkbox {
    font-size: 1.2rem;
    line-height: 21px;
    color: #666666;
    margin-top: 35px;
    text-align: left;
}

.send input {
    padding: 10px 34px 8px 34px;
    cursor: pointer;
    margin-top: 20px;
    font-size: 1.2rem;
    line-height: 24px;
    border: 2px solid #fd8300;
    color: #fff;
    font-weight: bold;
    text-align: center;
    border-radius: 21px;
    background-color: #fd8300;
}

.send input:hover {
    background-color: #fff;
    color: #25252c;
}

.checkbox input {
    border-radius: 3px;
    border: 1px solid #c5c5d4;
    margin-left: 30px;
}

.check {
    display: none;
}

.check+label {
    position: relative;
    padding-left: 35px;
}

.check+label::before,
.check+label::after {
    content: "";
    position: absolute;
}

.check+label::before {
    left: 0;
    width: 16px;
    height: 16px;
    border: 1px solid #c5c5d4;
    border-radius: 5px;
}

.check:checked+label::after {
    left: 6px;
    top: 3.5px;
    width: 4px;
    height: 7px;
    border: 2px solid #1f1f56;
    border-left: none;
    border-top: none;
    transform: rotate(45deg);
}

table th {
    color: #fff;
    font-family: "Roboto Slab";
    text-align: left;
    background-color: #1f1f56;
}

tr td:last-child {
    min-width: 75px;
}

table th:first-child {
    border-radius: 3px 0 0 0;
}

table tr:last-child td:first-child {
    border-radius: 0 0 0 3px;
}

table th:last-child {
    border-radius: 0 3px 0 0;
}

table tr:last-child td:last-child {
    border-radius: 0 0 3px 0;
}

table th:last-child,
table td:last-child {
    text-align: right;
}

table tr:hover td{
    background-color: #fd8300;
    border: none;
    color: #fff;
} 

table td {
    color: #666;
    border-top: 1px solid #cdcddd;
    background-color: #e4e4ec;
}

table th,
table td {
    padding: 15px 20px;
}

section a {
    color: #fd8300;
    font-weight: bold;
}

.main_bloc {
    display: flex;
    flex-wrap: wrap;
    row-gap: 30px;
    padding: 40px 0 30px 0;
}

main {
    width: 100%;
    display: inline-block;
}

.content {
    padding-bottom: 32px;
    border-bottom: 1px solid #e4e4ec;
}

.content h1 {
    color: #24242b;
    font: 700 1.8rem "Roboto Slab";
}

.content>p {
    margin: 25px 0;
}

.content a {
    color: #fd8300;
    font-weight: bold;
    font-size: 1rem;
}

.content a:hover {
    color: #24242b;
}

.table-wrap {
    overflow: auto;
    width: 100%;
}

.table-wrap table {
    min-width: 500px;
    width: 100%;
    border-collapse: collapse;
}

section p {
    color: #666;
    font-size: 1rem;
    line-height: 24px;
}

.figure  {
    flex-grow: 1;
    flex-shrink: 1;
}

.figure-block {
    display: flex;
    width: 100%;
    justify-content: space-between;
    column-gap: 20px;
    row-gap: 30px;
    flex-wrap: wrap;
}

.cards h2 {
    text-align: center;
    color: #24242b;
    font: 700 1.8rem "Roboto Slab";
    padding-top: 30px;
    padding-bottom: 25px;
}

.cards .figure {
    text-decoration: none;
    max-width: 55%;
    font-size: 1.2rem;
    line-height: 24px;
    margin: 0 auto;
}

.figure h3 a {
    color: #25252c;
    text-decoration: none;
    font: 16px "Roboto Slab";
}

.figure h3 a:hover {
    text-decoration: underline;
}

.figure img,
.figure figcaption {
    width: 100%;
}

.figure p {
    color: #9999a6;
    font-size: 0.9rem;
    line-height: 18px;
}

.main_menu_p {
    padding: 17px 15px 13px;
    color: #fff;
    font: 16px "Roboto Slab";
    border-radius: 3px;
    background-color: #1f1f56;
}

.aside ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.aside_menu {
    background-color: #e4e4ec;
}

.aside_menu>li:not(:first-child) {
    border-top: 1px solid #cdcddd;
}

.aside_menu>li>a::after {
    content: "";
    position: absolute;
    right: 15px;
    top: 23px;
    height: 7px;
    width: 7px;
    border-right: 2px solid #656565;
    border-bottom: 2px solid #656565;
    transform: rotate(-45deg);
}

.aside_menu>li:hover>a::after {
    border-right-color: #fff;
    border-bottom-color: #fff;
    transform: rotate(45deg);
}

.aside_menu>li:last-child {
    border-radius: 3px;
}

.aside_menu a {
    position: relative;
    display: block;
    padding: 15px 30px 15px 15px;
    color: #25252c;
    font-size: 1rem;
    line-height: 24px;
    text-decoration: none;
}

.aside_menu>li:hover>a {
    color: #fff;
    background-color: #fd8300;
}

.aside_menu li:hover .sub_menu {
    display: block;
}

.sub_menu {
    display: none;
}

.sub_menu a {
    padding-left: 30px;
    color: #666;
}

.sub_menu a:hover {
    background-color: #cecedd;
}

.footer_menu {
    padding: 30px 0;
    background-color: #ededf5;
}

.footer_menu .block {
    vertical-align: top;
}

.bottom_menu {
    padding: 0;
    color: #666;
    font-size: 1.2rem;
}

.bottom_menu li {
    margin-bottom: 10px;
    list-style: none;
}

.bottom_menu a {
    color: #666;
    font-size: 1.2rem;
    text-decoration: none;
}

.bottom_menu a:hover {
    color: #fd8300;
    text-decoration: underline;
}

.copyright {
    padding: 15px;
    background-color: #dcdce6;
}

.copyright p {
    color: #9999a6;
    font-size: 1.2rem;
    line-height: 18px;
    text-align: center;
}

@media screen and (min-width: 456px) {
    .telephones.block,
    .bottom_menu.block,
    .social_netvork.block {
        text-align: left;
    } 

}

@media screen and (min-width: 571px) {
    .block {
        margin: 0;
    }
  
    .contacts_block>div:nth-child(3) {
        margin: 0 auto;
    }
}

@media screen and (min-width: 950px) {
    .hamburger {
        display: none;
    }
    
    .top_menu {
        display: block;
        position: static;
        padding: 0;
    }

    .main_menu ul {
        display: block;
    }

    .top_menu a {
        padding: 0;
    }

    .main_bloc{
        flex-wrap: nowrap;
        column-gap: 70px;
    }

    .aside {
        width: 220px;
        flex-shrink: 0;
    }

    .cards .block {
        display: inline-block;
    }

    .form_map {
        flex-wrap: nowrap;
    }
}

@media screen and (min-width: 979px) {
    .contacts_block>div:nth-child(3) {
        margin: 0;
    }
}

@media screen and (min-width: 1067px) {
    .block {
        display: inline-block;
    }

    .stick {
        position: relative;
    }

    .stick::before {
        content: "";
        position: absolute;
        left: -10px;
        top: 3px;
        width: 1px;
        height: 51px;
        background-color: #e4e4ec;
    }

    .footer_menu .block,
    .contacts .block {
        display: inline-block;
        margin: 0;
    }
}

@media screen and (min-width: 775px) {
    .rich:last-child {
        margin-left: 30%;
        margin-right: 30%;
    }
}

@media screen and (min-width: 1040px) {
    .rich:last-child {
        margin-left: 0;
        margin-right: 0;
    }
}